@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-top: #3f0202;
    --bg-bottom: #0d0a0a;
    --bg-right: #1f0909;
    --bg-left: #0e0e0e;
    --text-1: #f6f6f6;
    --text-2: #cfc5c5;
    --text-3: #E5DDDD;
    --song-hover-bg: #520000;
    --song-hover-border: #ca0000;
    --card-bg: #6B0000;
    ;
}